#about {
  background-color: rgb(137, 182, 154);
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#index {
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 1.5px 1.5px #ff9100;
  background-image: linear-gradient(125deg, #020524, #001425, #002c53, #004581);
  background-size: 400%;
  animation: bganimation 15s infinite;
}

#my-image {
  border-radius: 50%;
  height: 450px;
  width: 350px;
  margin-left: 50px;
  margin-top: 25px;
  align-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#about-me {
  margin-left: 10%;
}

#navbar {
  padding: 10px;
}

#nav-elements {
  align-self: flex-end;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  top: 0;
}

img {
  height: 50%;
  width: 50%;
}

main {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

body {
  margin: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  box-shadow: 0px 12px 2px 1px rgba(129, 51, 253, 0.2);
}

#nav-elements, .footer, header {
  width: auto;
}

p, li {
  text-shadow: none;
}

header>h1, li.nav-object {
  float: left;
  font-size: 20px;
}

.content, .footer, li a.nav-link {
  color: rgb(245, 245, 245);
}

li a.nav-link, .footer a {
  text-decoration: none;
}

header>h1 {
  width: 300px;
  padding: 10px;
  align-self: flex-start;
  text-align: center;
}

li a.nav-link {
  display: block;
  text-align: right;
  padding: 14px 16px;
  background:
    linear-gradient(to right, #020524, #001425, #002c53, #004581),
    linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

#my-projects, #my-courses, #my-contact {
  margin: 25px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

#project-header, #courses-header, #contacts-header {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#projects-container, #courses-container, #contacts-container {
  /* background-color: grey; */
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
}

.project-item {
  width: 400px;
  margin: 10px;
  max-width: 400px;
  background: #f0950c;
  box-shadow: 100%;
  --notchSize: 20px;
  clip-path:
    polygon(
      0% var(--notchSize),
      var(--notchSize) 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% calc(100% - var(--notchSize)),
      calc(100% - var(--notchSize)) 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
  padding: 20px 50px;
  box-shadow: 0 1px 3px rgba(75, 75, 75, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-item:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid rgb(211, 6, 194);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h4 {
  font-size: x-large;
  text-align: center;
}

#img-container img {
  width: 25%;
  height: 100px;
  border-radius: 50%;
}

h4 a, h4 a:visited  {
  color: white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#projects-container, #about-me, main > div {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact a {
  margin: 10px;
}

@keyframes example {
  0%   {border-left: 2px solid #ffffff;}
  25%  {border-left: 3px solid #ffe6e6;}
  50%  {border-left: 4px solid #ff8080;}
  100% {border-left: 5px solid #0400ff;}
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.footer {
  background: rgb(24, 24, 24);
  text-align: center;
  padding: 2.5em 0;
  left: 0;
  right: 0;
  height: 100px;
  border-radius: 50% / 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px -12px 2px 1px rgba(129, 51, 253, 0.2);
  position: relative;
  flex-grow: 1;
}

.footer a {
  color: inherit;
}

.logo {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.todo-list-content {
  color: #ff9100;
}

.content-hover-in {
  text-decoration: underline;
  font-style: italic;
}