#about {
  background-color: rgb(137, 182, 154);
  font-family: "Helvetica", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#index {
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 1.5px 1.5px #ff9100;
  background-image: linear-gradient(125deg, #020524, #001425, #002c53, #004581);
  background-size: 400%;
  animation: bganimation 15s infinite;
}

p, h1 {
  text-align: center;
}

a, a:visited {
  color: white;
  font-size: x-large;
}
